@media only screen and (max-width: 1800px) {
    .benefits__wrapper {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .banner__info {
        padding-left: 5rem;
    }
    .banner__info-sec .text__info {
        margin-left: 60rem;
    }
    .clients__benefits-wrap {
        padding-right: 5rem;
        padding-left: 5rem;
    }
    .testimonial__wrap {
        padding-right: 5rem;
        padding-left: 5rem;
    }
    .phylosophy__wrap {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .agency__wrap {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .about__sub {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .insurance__wrap {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media only screen and (max-width: 1550px) {
    .banner__info {
        align-items: center;
    }
    .banner__image, .banner__info-sec .banner__image {
        position: initial;
    }
    .banner__info-sec {
        grid-template-columns: 1fr 2fr;
    }
    .banner__info-sec .text__info {
        margin-left: 2rem;
    }
    .text__info, .banner__info-sec .text__info {
        padding-right: 2rem;
        padding-left: 1rem;
    }
    .banner__info {
        padding-left: 0;
    }
}

@media only screen and (max-width: 1366px) {
    .menu li:not(:last-child) {
        padding-right: 1.8rem;
    }
}

@media only screen and (max-width: 1024px) {
    .desktop-logo {
        display: none;
    }
    .mobile-logo {
        display: block;
    }
    .menu {
        display: none;
    }
    .phone {
        display: none;
    }
    .burger__menu {
        display: block;
    }
    .burger__menu .menu {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .burger__menu .menu li {
        padding-right: 0;
        padding-bottom: 1.6rem;
    }
    .burger__menu .phone {
        display: block;
        text-align: center;
    }
    .apply__wrapper {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    .form {
        margin-right: auto;
    }
    .benefits__info {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    .benefits__item:not(:nth-child(5n+5)) {
        margin-right: 0;
    }
    .benefits__item:not(:nth-child(2n)) {
        margin-right: 1rem;
    }
    .provide__item {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .provide__hover h4, .provide__hover p {
        text-align: center;
    }
    .banner__info {
        justify-items: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .banner__info-sec .text__info {
        margin-top: 2rem;
    }
    .provide__title h4 {
        font-size: 2rem;
    }
    .clients__benefits {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .clients__item:not(:nth-child(3n+3)){
        margin-right: 0;
    }
    .clients__item:not(:nth-child(2n+2)) {
        margin-right: 1.8rem;
    }
    .form__footer {
        padding: 5rem;
    }
    .form__footer .form {
        margin-left: auto;
        margin-right: auto;
    }
    .footer {
        flex-wrap: wrap;
    }
    .footer__info {
        margin-top: 2rem;
    }
    .phyl__content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }
    .phyl__content img {
        max-width: 100%;
    }
    .phyl__back-img img {
        max-width: 100%;
    }
    .agency__img img {
        max-width: 100%;
    }
    .agency__wrap {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }
    .provider__item img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 670px) {
    .form {
        padding: 1rem;
    }
    .banner__image {
        max-width: 100%;
    }
    .form__footer {
        margin-right: 0;
        margin-left: 0;
    }
    .form__footer {
        padding: 1rem;
    }
    .form__select-wrap {
        flex-wrap: wrap;
    }
    .form__select-wrap input {
        flex: 1 1 100%;
    }
    .form__select-wrap input[name="name"], .form__select-wrap input[name="email"] {
        margin-right: 0;
    }
    .form__select-wrap input[name="last"], .form__select-wrap input[name="phone"] {
        margin-top: 1rem;
    }
    footer {
        margin-right: 0;
        margin-left: 0;
    }
    .footer {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .footer__info {
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
    }
    .footer__info-comp {
        margin-top: 1rem;
        flex: 1 1 100%;
    }
}

@media only screen and (max-width: 480px) {
    .benefits__wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .banner__info-wrap {
        margin-left: 2rem;
        margin-right: 2rem;
        position: relative;
    }
    .provide__wrapper {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .provide__category {
        padding-left: 0;
        padding-right: 0;
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .provide__title h4 {
        padding: 3.2rem 0.4rem;
    }
}